.Advisors {
  .PageHeader::after {
    content: attr(data-content);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(44, 26, 34, 0.6);
  }

  .PageHeader .container {
    top: 50px;
  }

  .section--1 {
    background-color: var(--purple);

    .container {
      display: flex;
      flex-wrap: wrap;

      .column {
        width: 45%;

        h3 {
          max-width: 430px;
          margin-bottom: 30px;
        }

        p {
          opacity: 0.5;
        }
      }
    }
  }

  @media (max-width: 700px) {
    .column {
      width: 100% !important;
    }

    h3 {
      max-width: 430px;
    }

    .numbered-header {
      margin-bottom: 25px;
    }
  }
}

.TeamSection {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .single--team {
    height: 470px;
    width: 33.33%;
    position: relative;

    &:hover {
      .sneak-peak {
        opacity: 0.7;
        transition: ease all 0.6s;
      }
    }
  }

  .services-sneak {
    flex-grow: 1;
    height: 470px;
    position: relative;
    background-color: #c74b37;

    .container {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      left: 10%;

      .Button {
        margin-top: 20px;
      }
    }

    p {
      max-width: 555px;
    }
  }

  .single--team:nth-of-type(5n + 1) .color {
    background-color: rgba(246, 235, 213, 0.9);
    color: var(--brown) !important;

    h3 {
      color: var(--brown) !important;
    }
  }

  .single--team:nth-of-type(5n + 2) .color {
    background-color: rgba(236, 236, 236, 0.9);
    color: var(--brown);

    h3 {
      color: var(--brown) !important;
    }
  }

  .single--team:nth-of-type(5n + 3) .color {
    background-color: rgba(91, 62, 76, 0.9);
    color: white !important;

    h3 {
      color: white !important;
    }
  }

  .single--team:nth-of-type(5n + 4) .color {
    background-color: rgba(201, 76, 56, 0.9);
    color: white !important;

    h3 {
      color: white !important;
    }
  }

  .single--team:nth-of-type(5n + 5) .color {
    background-color: rgba(53, 47, 50, 0.9);
    color: white !important;

    h3 {
      color: white !important;
    }
  }

  .sneak-peak {
    position: absolute;
    bottom: 0;
    padding: 2rem 3.5rem;
    width: 100%;

    p {
      margin-bottom: 0;
    }
  }

  @media (max-width: 1000px) {
    .single--team {
      width: 50% !important;
    }
  }

  @media (max-width: 650px) {
    .single--team {
      width: 100% !important;
    }

    .services-sneak {
      width: 100%;
    }
  }
}
