.Home {
  .PageHeader--Title {
    max-width: 650px;
  }

  .button {
    width: 225px;
    height: 45px;
    background: #c94c38;
    border-radius: 6px;
    position: absolute;
    top: 64%;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    line-height: 45px;
    cursor: pointer;

    &:hover {
      background: transparent;
      border: 1px solid var(--cream);
      transition: all ease 0.5s;
    }

    p {
      font-family: var(--font-avenir);
      font-weight: 600;
      font-size: 12.5px;
      color: #f6ebd4;
      letter-spacing: 1.04px;
      text-align: center;
    }

    @media (max-width: 600px) {
      top: 75%;
      width: 225px;
    }
  }

  .section--1 {
    background: var(--brown);
    color: white;

    .numbers {
      font-family: var(--font-lora);
      font-size: 48px;
      max-width: 352px;
      letter-spacing: 0.2px;
      margin-bottom: 2.5rem;
    }

    .client {
      font-family: var(--font-avenir);
      font-weight: 600;
      font-size: 18px;
      opacity: 0.5;
      letter-spacing: 0.2px;
      line-height: 25px;
      margin-bottom: 50px;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }

    .flex-column {
      height: 100%;
      width: 50%;

      span {
        margin-right: 2rem;
      }

      h4 {
        margin-bottom: 3rem;
        margin-top: 4rem;
      }
    }

    .about-us {
      max-width: 150px;
      border-bottom: 1px solid white;

      &:hover {
        opacity: 0.5;
        transition: all 0.5s ease;
      }
    }

    .flex {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    h3 {
      max-width: 350px;
      margin-bottom: 50px;
    }

    @media (max-width: 927px) {
      .container {
        flex-direction: column;
      }

      .flex-column {
        width: 100%;
      }

      h3 {
        max-width: 100%;
      }

      .about-us {
        margin-bottom: 7rem;
      }
    }
  }

  .section--2 {
    .grid {
      display: flex;
      flex-wrap: wrap;
    }

    .single--service {
      height: 380px;
      width: 33.33%;
      background-color: var(--brown);
      position: relative;

      .SingleService--icon {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .SingleService--title {
        position: absolute;
        z-index: 1;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        margin-top: 1rem;
      }

      h3 {
        text-align: center;
      }

      &:before {
        content: attr(data-content);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
      }

      &:hover {
        &:before {
          background: rgba(0, 0, 0, 0);
          transition: all 0.5s ease;
        }
      }
    }

    @media (max-width: 1000px) {
      .single--service {
        width: 50% !important;
      }
    }

    @media (max-width: 650px) {
      .single--service {
        width: 100% !important;
      }

      .single--service.red h2 {
        max-width: 100% !important;
        margin-left: 0 !important;
      }
    }

    .single--service.red {
      padding: 5rem;

      &:before {
        background: rgba(0, 0, 0, 0);
      }

      h2 {
        max-width: 250px;
        margin-left: 5rem;
      }
    }
  }
}
