.Home {
  .PageHeader--Title {
    max-width: 650px;
  }

  .PageHeader .BackgroundImage {
    opacity: 1;
    background-blend-mode: none;
  }

  .button {
    width: 225px;
    height: 45px;
    background: #c94c38;
    border-radius: 6px;
    position: absolute;
    top: 64%;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    line-height: 45px;
    cursor: pointer;

    &:hover {
      background: transparent;
      border: 1px solid var(--cream);
      transition: all ease 0.5s;
    }

    span {
      font-family: var(--font-avenir);
      font-weight: 600;
      font-size: 12.5px;
      color: #f6ebd4;
      letter-spacing: 1.04px;
      text-align: center;
    }

    @media (max-width: 600px) {
      top: 75%;
      width: 225px;
    }
  }

  .section--1 {
    background: var(--brown);
    color: white;

    .numbers {
      font-family: var(--font-lora);
      font-size: 48px;
      max-width: 352px;
      letter-spacing: 0.2px;
      margin-bottom: 2.5rem;
    }

    .client {
      font-family: var(--font-avenir);
      font-weight: 600;
      font-size: 18px;
      opacity: 0.5;
      letter-spacing: 0.2px;
      line-height: 25px;
      margin-bottom: 50px;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }

    .flex-column {
      height: 100%;
      width: 50%;

      span {
        margin-right: 2rem;
      }

      h4 {
        margin-bottom: 3rem;
        margin-top: 4rem;
      }
    }

    .about-us {
      max-width: 150px;
      border-bottom: 1px solid white;

      .big-body {
        margin-right: 1rem;
        font-size: 16px;
      }

      &:hover {
        opacity: 0.5;
        transition: all 0.5s ease;
      }
    }

    .flex {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    h3 {
      max-width: 350px;
      margin-bottom: 50px;
    }

    @media (max-width: 927px) {
      .container {
        flex-direction: column;
      }

      .flex-column {
        width: 100%;
      }

      h3 {
        max-width: 100%;
      }

      .about-us {
        margin-bottom: 7rem;
      }
    }
  }

  .section--2 {
    color: white;
  }

  .section--3 {
    color: white;
    .grid {
      display: flex;
      flex-wrap: wrap;
    }

    .part-image {
      width: 66.66%;
      height: 480px;
    }

    .part-text {
      width: 33.33%;
      background: var(--purple);
      height: 480px;
      padding: 10rem 5rem;

      h3 {
        margin-left: 8rem;
        margin-bottom: 50px;
      }

      .button--secondary {
        max-width: 150px;
        margin-left: 8rem;

        .flex {
          width: 150px;
          justify-content: space-between;
        }
      }
    }

    @media (max-width: 1250px) {
      .part-text {
        padding: 5rem 2.5rem;
      }
    }

    @media (max-width: 1000px) {
      .part-image {
        width: 50%;
      }

      .part-text {
        width: 50%;
      }
    }

    @media (max-width: 650px) {
      .part-image {
        width: 0%;
      }

      .part-text {
        width: 100%;
        padding: 9rem 4rem;
      }
    }

    @media (max-width: 380px) {
      .part-text {
        padding: 8rem 4rem;

        .button--secondary {
          margin-left: 0;
        }

        h3 {
          margin-left: 0;
        }
      }
    }
  }

  .section--4-blog {
    background: var(--brown);
    color: white;

    .numbered-header {
      margin-bottom: 50px;
    }

    h2 {
      margin-left: 7rem;
    }

    .button--secondary {
      margin-top: 50px;
      width: 150px;
      margin: 0 0 4rem 7rem;
      .flex {
        width: 150px;
      }
    }
  }

  .section--5-testimonials {
    background: var(--purple);
    color: white;
    .container {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }
    .title {
      height: 100%;
      width: 33.33%;
    }
  }

  .Testimonials {
    height: 100%;
    width: 66.66%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    .slide {
    }
    span {
      margin-right: 2rem;
    }
    h4 {
      margin-bottom: 3rem;
      margin-top: 4rem;
    }
  }
  .quote {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    .Image {
      width: 50px;
      height: 50px;
      margin: 0 2rem 0 0;
      border-radius: 50%;
    }
  }
}
