.SingleTeam {
  background: var(--lightGrey);
  color: var(--brown);

  h2 {
    color: var(--brown);
    margin-bottom: 30px;
  }

  .NavBackground {
    background: #3F2B2F;
    height: 10rem;
    width: 100%;
  }

  .SingleTeam--container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .column-left {
    width: 45%;
  }

  .column-right {
    width: 45%;
  }

  .numbered-header span {
    margin-right: 0;
  }

  .big-body {
    font-weight: 600;
  }

  .socials {
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;

      li {
        margin: 1.5rem;

        &:hover {
          opacity: 0.5;
          transition: all ease 0.5s;
        }
      }
    }
  }

  @media (max-width:800px) {
    .SingleTeam--container {
      justify-content: column;
    }

    .column-left {
      width: 100%;
    }

    .column-right {
      width: 100%;
      margin-top: 1rem;

      img {
        max-width: 60%;
        margin: 0 auto;
      }
    }
  }

  @media (max-width:500px) {
    .column-right {
      img {
        max-width: 100%;
      }
    }
  }
}
