.SingleService {
  color: var(--brown);
  .PageHeader {
    padding: 130px;
    &::after {
      content: attr(data-content);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background-color: rgba(44, 26, 34, 0.6);
    }
    .container {
      top: 80px;
    }
  }
  .numbered-header,
  .numbered-header span {
    margin: 1rem 0;
    padding-right: 3rem;
  }
}

.SingleService--Welcome {
  h3 {
    width: 60%;
    margin: 54px 0 6rem 5.5rem;
  }

  p,
  ul {
    opacity: 0.8;
    margin-bottom: 0rem;
  }

  ul {
    margin-bottom: 1rem;
  }

  background-color: #f4f4f4;

  .links-container {
    margin-top: 1rem;
    margin-bottom: 4rem;

    p {
      color: var(--brightRed);
      font-weight: 500;
      opacity: 1;
      margin: 1rem 0;
    }

    .Button {
      margin-top: 2rem;
      display: inline-block;
      clear: both;
      width: auto;
    }
  }

  .Content {
        table {
            width: 100%;
            margin: 0 0 20px;
            border-collapse: collapse;

            thead {
                text-align: left;

                th {
                    border-bottom: 1px solid #aaa;
                    padding: 5px;
                }
            }
            tbody {
                td {
                    padding: 5px;
                }     
            }     
        }
        ul {
            margin-bottom: 2.5rem;
        }
    }   
}

.SubServices {
  .ServiceCard {
    height: 200px;
    width: 25%;
    background-color: var(--brown);
    position: relative;
    color: white;
    padding: 2rem 4rem;
  }

  .ServiceCard.red h2 {
    margin: 0;
  }
  .SubServices--Titlebar {
    padding: 2rem 4rem;
  }
  .ServiceCard--icon {
    max-width: 40px;
  }
}

.RelatedMembers {
  .one-third {
    .flex {
      align-items: center;
    }

    .TeamCard {
      display: flex;
      align-items: center;
    }
  }

  @media (max-width: 930px) {
    .one-third {
      width: 50%;

      .flex {
        justify-content: baseline !important;
      }

      .TeamCard {
        justify-content: baseline !important;
      }
    }
  }

  @media (max-width: 620px) {
    .one-third {
      width: 100%;
    }
  }
}

.relatedPosts {
  background: var(--lightGrey);
  h3 {
    margin-bottom: 4rem;
  }
}

@media (max-width: 700px) {
  .SingleService {
    h3 {
      width: 100%;
      margin: 0;
      padding-left: 1rem;
      padding-bottom: 2rem;
    }

    .one-half {
      width: 100%;
    }
  }
  .SingleService--Welcome {
    .flex {
      flex-direction: column;
      .one-half {
        width: 100%;

        img {
          padding-bottom: 2rem;
        }
      }
    }
    .content {
        table {
            font-size: 10px;
            line-height: 1.3;
        }
    }
  }
}
