.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 255px;
  height: 54px;
  align-items: center;
  justify-content: center;
}
