.Nav {
  position: absolute;
  top: 0;
  z-index: 98;
  width: 100%;
  color: white;
}

.Nav--Container {
  display: flex;
  align-items: center;
  height: 10rem;
  justify-content: space-between;
}

.Nav--Links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Nav--Links > * + * {
  margin-left: 1rem;
}

.Nav .Logo {
  margin-right: 3rem;
  position: relative;
}

.Nav--MenuButton {
  display: none;
  color: var(--cream);
  z-index: 2;
}

.key-industries-children {
  display: none;
  cursor: pointer;
}

.NavLink {
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 500;
  transition: color 0.2s, border-bottom-color 0.2s;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  border-bottom-color: transparent;
  font-size: 16px;
  position: relative;
}

.NavLink:hover,
.NavLink.active,
.NavLink:focus {
  border-bottom-color: currentColor;
}

.NavLink.hasCildren {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  svg {
    width: 20px;
    height: 15px;
  }
}

.NavLink .children {
  position: absolute;
  display: none;
  top: 3.5rem;
  left: 0;
  width: 250px;
  text-transform: capitalize;
  background: var(--brightRed);
  z-index: 99;
}

.NavLink {
  &:hover {
    .level-one {
      display: block !important;
    }
  }

  .level-one {
    .hasCildren {
      &:hover {
        .level-two {
          display: block;
        }
      }
    }
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.NavLink .children .NavLink {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1rem;
  &:hover {
    background: var(--purple);
  }
}

.NavLink .children.level-one {
}

.NavLink .children.level-two {
  position: absolute;
  top: 0;
  left: 250px;
}

.Client--Login {
  width: 140px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--cream);
  line-height: 40px;
  text-align: center;
  display: flex !important;
  justify-content: space-evenly;
  color: var(--cream);
  font-size: 14px;
  margin-left: 3rem;
  font-weight: 500;
  cursor: pointer;
}

.Client--Login:hover {
  opacity: 0.5;
  transition: all ease 0.5s;
}

@media (max-width: 1064px) {
  .NavLink {
    .children {
      &.level-one {
        display: none !important;
      }
    }
  }

  .level-two {
    display: none !important;
  }

  .NavLink.hasCildren svg {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: -3px;
    transform: rotate(90deg);
  }

  .active {
    display: inline-block !important;
  }

  .NavLink {
    .children {
      &.active {
        display: block !important;
      }
    }
  }

  .services {
    &:after {
      content: url('/images/chevron-down-solid.svg');
      display: inline-block;
      width: 14px;
      height: auto;
      padding-left: 4px;
      margin-left: 10px;
    }
  }

  .NavLink .hasCildren {
    flex-direction: column;
    position: relative;
    position: relative;
  }

  .Nav--Container {
    display: flex;
  }

  .NavLink {
    text-align: center;
    border-bottom: none !important;
  }

  .NavLink .children .NavLink {
    padding: 0.6rem;
  }

  .level-one .NavLink {
    padding: 0.6rem;
    font-size: 15px;
  }

  .NavLink .children .level-two {
    left: 0;
    color: white;
    opacity: 1;
  }

  .level-one {
    color: var(--cream);
    opacity: 1;
  }

  .level-two .NavLink {
    font-size: 14px;
  }

  .NavLink .children,
  .level-two {
    position: relative !important;
    top: 0.5rem;
    background: none;
  }

  .Nav--MenuButton {
    display: block;
    margin-left: auto;
  }

  .NavLink .children {
    width: 310px;
  }

  .Nav--Links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    animation: Nav--Links 0.2s ease;
    background: var(--purple);
  }

  .Nav--Links > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Nav-active .Nav--Links {
    display: flex;
  }

  .Nav-active .NavLink {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

  .Client--Login {
    margin-top: 2rem;
  }

  .Nav .NavLink .hasCildren {
    display: inline-block;
  }

  .Nav .NavLink:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  .Nav .NavLink:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  .Nav .NavLink:nth-of-type(4) {
    animation-delay: 0.3s;
  }
  .Nav .NavLink:nth-of-type(5) {
    animation-delay: 0.4s;
  }
  .Nav .NavLink:nth-of-type(6) {
    animation-delay: 0.5s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }
  .Nav .NavLink:nth-of-type(8) {
    animation-delay: 0.7s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }
}

@keyframes Nav--Link {
  from {
    transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes Nav--Links {
  from {
    opacity: 0;
  }
}
