.grid {
  display: flex;
  flex-wrap: wrap;
}

.ServiceCard {
  height: 380px;
  width: 33.33%;
  background-color: var(--brown);
  position: relative;
  color: white;

  .ServiceCard--icon {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  .ServiceCard--title {
    position: absolute;
    z-index: 1;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    margin-top: 1rem;
  }

  h3 {
    text-align: center;
  }

  &:before {
    content: attr(data-content);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
  }

  &:hover {
    &:before {
      background: rgba(0, 0, 0, 0.3);
      transition: all 0.5s ease;
    }
  }
}

@media (max-width: 1000px) {
  .ServiceCard {
    width: 50% !important;
  }
}

@media (max-width: 650px) {
  .ServiceCard {
    width: 100% !important;
  }

  .ServiceCard.red h2 {
    max-width: 100% !important;
    margin-left: 0 !important;
  }
}

.ServiceCard.red {
  padding: 5rem;

  &:before {
    background: rgba(0, 0, 0, 0);
  }

  h2 {
    max-width: 250px;
    margin-left: 5rem;
  }
}
