.SubscribeForm {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: #433c3e;
  border-radius: 6px;
  overflow: hidden;
  font-family: var(--font-avenir);
  height: 45px;
  margin-top: 35px;
  position: relative;
  width: 290px;
  color: white;
}
.SubscribeForm::before {
  position: absolute;
  content: url('/images/uploads/button_arrow_suscribe.svg');
  top: 7px;
  right: 25px;
}

.SubscribeForm .EnquiryForm--Label {
  margin: 0;
  color: white;
}

.SubscribeForm input[type='email'] {
  border: none;
  margin: 0;
  outline: none;
  background: #433c3e;
  color: white;
  font-weight: 600;
  line-height: 17px;
  font-size: 12.5px;
  letter-spacing: 1px;
}

.SubscribeForm .Button {
  margin: 0;
  background: #433c3e;
  color: white;
}
